<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BCVote1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProC</display-name>
    <servlet-name>ProC</servlet-name>
    <servlet-class>com.bcu.c.ProC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProC</servlet-name>
    <url-pattern>/ProC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserC</display-name>
    <servlet-name>UserC</servlet-name>
    <servlet-class>com.bcu.c.UserC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserC</servlet-name>
    <url-pattern>/UserC</url-pattern>
  </servlet-mapping>
</web-app>